/*
*Removes all default whitespace
*/

* {
    padding: 0;
    margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* Typography */
body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

span {
    font-weight: bold;
}

button {
    background-color: #4ebced;
    color: white;
}

button:hover {
    cursor: pointer;
}

/* Handles responsivness */

@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}